# Python virtual environment
venv/
.env/

# Byte-code files
*.pyc
__pycache__/

# Operating System files
.DS_Store
Thumbs.db

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Flask specific (if you had a test or instance folder)
instance/
.flaskenv

# Any sensitive data (e.g., if you were to have a service account key JSON file directly in the repo)
# ONLY IF YOU HAVE THIS FILE IN YOUR REPO ROOT AND IT'S NOT HANDLED VIA ENVIRONMENT VARIABLES.
# It's better to avoid having it in the repo folder at all.
# serviceAccountKey.json
